@-webkit-keyframes animate {
    0% {
        top: -3px;
    }

    50% {
        top: 3px;
    }

    100% {
        top: -3px;
    }
}

@keyframes animate {
    0% {
        top: -3px;
    }

    50% {
        top: 3px;
    }

    100% {
        top: -3px;
    }
}

body {
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.wrapper .side-content {
    width: 250px;
    height: 600px;
    position: fixed;
    top: 0;
    left: 0;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
}

.wrapper .side-content #toggle-btn {
    display: none;
}

@media only screen and (min-width: 590px) {
    .logo {
        margin-left: 40vw;
        height: 25vh !important;
    }

    .logo-mobile {
        display: none;
    }
}

@media only screen and (max-width: 589px) {
    .logo {
        display: none;
    }

    .spacer {
        display: none;
    }

    .logo-mobile {
        height: auto;
        width: 100%;
        background-color: #ffffff !important;
    }
}

.wrapper .side-content .nav-menu {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
    font-family: sans-serif;
    font-weight: bold;
}

.wrapper .side-content .nav-menu .nav-link {
    padding: 2px 0;
    text-decoration: none;
    color: black;
    font-size: 80%;
}

.wrapper .side-content .nav-menu .nav-link:hover {
    color: #757575;
}

.wrapper .side-content .categories {
    margin-top: 5px;
    padding-left: 2px;
}

.wrapper .side-content .categories .category {
    width: calc(100% - 15px);
    margin-bottom: 0;
    margin-top: 0;
    font-size: 42px;
    font-family: "Cormorant Infant", serif;
    font-weight: 600;
    cursor: pointer;
    position: relative;
    left: 0;
    transition: left 0.7s;
}

.wrapper .side-content .categories .category:hover {
    text-decoration: underline;
    left: 15px;
}

.wrapper .main-content {
    width: calc(100% - 270px);
    min-width: 300px;
    height: auto;
    margin-left: 270px;
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: stretch;
}

@media only screen and (min-width: 590px){
    .wrapper .main-content .column {
        margin-top: -50px;
        min-width: 300px;
        flex: 1;
        height: 100%;
        padding-top: 0px;
    }
}

@media only screen and (max-width: 589px){
    .wrapper .main-content .column {
        margin-top: 60%;
        min-width: 300px;
        flex: 1;
        height: 100%;
        padding-top: 0px;
    }
}

.wrapper .main-content .column-one .image {
    width: calc(100% - 30px);
    margin: 15px 15px 15px 0;
}

.wrapper .main-content .column-two .image {
    width: calc(100% - 30px);
    margin: 15px 15px 15px 0;
}

.wrapper .main-content .column-three .image {
    width: calc(100% - 30px);
    margin: 15px 15px 15px 0;
}

@media (max-width: 590px) {
    .wrapper {
        flex-direction: column !important;
        align-items: center !important;
    }

    .side-content {
        width: 100% !important;
        height: 70px !important;
        order: 1;
        flex-direction: row !important;
        justify-content: flex-start !important;
        align-items: center !important;
        flex-wrap: wrap;
        flex: 2;
        background-color: white;
        position: relative;
        z-index: 500;
    }

    .logo {
        padding-left: 0px !important;
        flex: 0.7;
        font-size: 32px !important;
    }

    .fa-chevron-down {
        display: block !important;
        flex: 0.23;
        padding-top: 10px;
        padding-right: 20px;
        position: relative;
        top: -5px;
        text-align: right;
        font-size: 28px;
        cursor: pointer;
        -webkit-animation: animate 0.9s 2s ease-in infinite alternate;
        animation: animate 0.9s 2s ease-in infinite alternate;
    }

    .fa-chevron-down:hover {
        -webkit-animation: none;
        animation: none;
    }

    .categories {
        display: none;
    }

    .nav-menu {
        display: none !important;
    }

    .mobile-menu {
        display: flex !important;
        flex-direction: column;
        width: 100% !important;
        height: 2px;
        margin-right: 21px !important;
        margin-left: -19px;
        margin-top: -20px;
        padding-top: 10px;
        text-align: right;
        background-color: white;
        overflow: hidden;
        transition: height 0.5s ease-out;
    }

    .nav-link {
        padding-right: 30px !important;
        padding-top: 8px !important;
        padding-bottom: 8px !important;
        position: relative;
        right: 0 !important;
        font-size: 90% !important;
        font-family: sans-serif;
        font-weight: bold;
        text-decoration: none;
        color: black;
        transition: right 0.25s ease-in-out;
    }

    .nav-link:hover {
        right: 10px !important;
        color: #757575;
    }

    .main-content {
        width: calc(100% - 30px) !important;
    }
}
}