body {
    width: 25px;
    text-align: center;
}

div,
ul,
li,
img {
    box-sizing: border-box;
}

.gallery {
    overflow: hidden;
    width: 25%;
    margin: 20px auto;
    padding: 20px;
    background-color: grey;
    border: 1.5px solid black;
}

.gallery-images {
    width: 3200px;
    text-align: left;
    position: relative;
    padding: 0;
    margin: 0;
    transition: left 0.5s;
}

.gallery-item {
    display: inline;
}

.gallery-item img {
    width: 600px;
    height: 400px;
    padding: 0;
    margin: 10px 0;
    border: 1px solid #aaa;
    cursor: pointer;
    transition: transform .2s;
}

.gallery-item:not(:first-child) img {
    margin-left: 10px;
}

.gallery-item:first-child img {
    margin-left: 30px;
}

.gallery input {
    display: none;
}

.gallery input + label {
    background-color: #aaa;
    height: 6px;
    width: 24px;
    display: inline-block;
    border: 1px solid #444;
    cursor: pointer;
    transition: all 0.5s;
}

.gallery input + label:hover {
    box-shadow: 0 0 3px 0 #555;
}

.gallery input:checked + label {
    background-color: #f1f1f1;
}

.gallery #ind-1:checked ~ .gallery-images {
    left: 0;
}

.gallery #ind-2:checked ~ .gallery-images {
    left: -610px;
}

.gallery #ind-3:checked ~ .gallery-images {
    left: -1240px;
}

.gallery #ind-4:checked ~ .gallery-images {
    left: -1840px;
}

.gallery-item img:hover {
    margin-top: 50px;
    transform: scale(1.5);
}