div,
ul,
li,
img {
    box-sizing: border-box;
}

body {
    text-align: center;
}

.gallery {
    width: 400px;
    overflow: hidden;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border: 2px solid black;
}

.gallery-images {
    width: 1600px;
    text-align: left;
    position: relative;
    padding: 0;
    margin: 0;
    transition: left 0.5s;
}

.gallery-item {
    display: inline;
}

.gallery-item img {
    transition: all .2s ease-in-out;
    width: 300px;
    height: 200px;
    padding: 0;
    margin: 10px 0;
    border: 2px solid #000;
    cursor: pointer;
}

.gallery-item:not(:first-child) img {
    margin-left: 10px;
}

.gallery-item:first-child img {
    margin-left: 30px;
}

.gallery input {
    display: none;
}

.gallery input + label {
    background-color: #aaa;
    height: 6px;
    width: 24px;
    display: inline-block;
    border: 1px solid #444;
    cursor: pointer;
    transition: all 0.5s;
}

.gallery input + label:hover {
    box-shadow: 0 0 3px 0 #555;
}

.gallery input:checked + label {
    background-color: #f1f1f1;
}

.gallery #ind-1:checked ~ .gallery-images {
    left: 0;
}

.gallery #ind-2:checked ~ .gallery-images {
    left: -310px;
}

.gallery #ind-3:checked ~ .gallery-images {
    left: -620px;
}

.gallery #ind-4:checked ~ .gallery-images {
    left: -920px;
}

.gallery-item img:hover {
    transform: scale(1.6);
    border: none;
}